*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'saira extra condensed', sans-serif;
}
html, body{
    height: 100%;
}
.corpo-todo{
    display: flex;
}
.barra-lateral{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #A52A2A;
    
}
.barra-lateral-sub{
    position: absolute;
    top: 50%;
    transform:translateY(-50%)
}
.img-barra-lateral{
    text-align: center;
    
 
}
.img-barra-lateral img{
    width: 60%;
    border-radius: 1px 50px;
    border: 5px double #a71717;
  
       
}
.menu ul{
    list-style-type: none;/* tira os pontinho da lista */
}
.menu{
   
    text-align: center;
}
.menu ul > li > a {
    color: white;
    opacity: 0.4 ;
    font-size: 26px;
    display: block;
    margin-bottom:3%;
    text-decoration: none; 
    
}
.menu a{
    
    text-decoration: none; /*tira o sublinhado*/
}
.menu a.seletor{
    opacity: 2 ;
}
.conteudo{
    position:absolute;
    left: 20%;
    width: 80%;
    height: 100%;
    top: 50%;
    transform:translateY(-50%);
    padding:0 3%;
    background-color: #F5FFFA ; 
}

article.descricao{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
article.descricao  h1{
 
    color: #363636;
    font-size: 70px;
    margin-top: 50px;
    
}
article.descricao h1 > span{
    color: #be3144;
}  
article.descricao  h2 > a > span{
  
    color: #be3144;    
}  
article.descricao h2{
     margin: 15px 0;
     color: #6c7579;
     font-size: 26px;
}
 
h2 > a{
    text-decoration: none;
}
 article.descricao p{
    color: #6c757d;
    font-size: 20px;
    margin-top: 40px;
}
.rede-social{
    margin-top: 20px;
}
.rede-social img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 10px;
    text-align: center;
    line-height: 20px;
}
.rede-social li {
    display: inline-block;

}
h3{
    color: #6c757d;
}
.conhecimentos {
    color: #6c757d;
    font-size: 20px;
    margin-top: 40px;
    margin: 20px;

}
.objetivos{
    color: #6c757d;
    font-size: 20px;
    margin-top: 40px;
    margin: 20px;
}
.objetivos > li > dl > dt span{
    color: #be3144
}